<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>indexAnimation1.png</string>
            <key>size</key>
            <string>{1696,1696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eda05a8514291f075a11a9bf2f71134:0ab5d771881a56e743c06d8af8df4acc:041cc6538bf3fe001dbcb44f29708888$</string>
            <key>textureFileName</key>
            <string>indexAnimation1.png</string>
        </dict>
    </dict>
</plist>
