<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>indexAnimation3.png</string>
            <key>size</key>
            <string>{1272,1696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:337c2af4d9fd51ba95324a2fb9266367:7ff3d4f1596bfbd1099eec1872576edb:fcc164e379083a111ef6e2e69cdb6c48$</string>
            <key>textureFileName</key>
            <string>indexAnimation3.png</string>
        </dict>
    </dict>
</plist>
