<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_affiem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,126}</string>
                <key>spriteSourceSize</key>
                <string>{345,126}</string>
                <key>textureRect</key>
                <string>{{882,1},{345,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_fsbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,92}</string>
                <key>spriteSourceSize</key>
                <string>{159,92}</string>
                <key>textureRect</key>
                <string>{{882,348},{159,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,30}</string>
                <key>spriteSourceSize</key>
                <string>{519,30}</string>
                <key>textureRect</key>
                <string>{{976,348},{519,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipsbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{879,1005}</string>
                <key>spriteSourceSize</key>
                <string>{879,1005}</string>
                <key>textureRect</key>
                <string>{{1,1},{879,1005}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game3.png</string>
            <key>size</key>
            <string>{1009,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0f9c9c1f079b8047d55ddbce345977f:f72b0cadade34e108f3654000d583cbc:6b710bd86c806c7b85876ecd96d3a7d0$</string>
            <key>textureFileName</key>
            <string>game3.png</string>
        </dict>
    </dict>
</plist>
