<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,370},{329,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,141}}</string>
                <key>sourceSize</key>
                <string>{329,141}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1364},{411,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,98}}</string>
                <key>sourceSize</key>
                <string>{411,98}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,949},{413,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,98}}</string>
                <key>sourceSize</key>
                <string>{413,98}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{408,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,98}}</string>
                <key>sourceSize</key>
                <string>{408,98}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,202},{401,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,98}}</string>
                <key>sourceSize</key>
                <string>{401,98}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,646},{389,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,101}}</string>
                <key>sourceSize</key>
                <string>{389,101}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,258},{369,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,110}}</string>
                <key>sourceSize</key>
                <string>{369,110}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,269},{337,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{337,128}}</string>
                <key>sourceSize</key>
                <string>{339,128}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,399},{312,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,143}}</string>
                <key>sourceSize</key>
                <string>{312,143}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,132},{341,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,135}}</string>
                <key>sourceSize</key>
                <string>{341,135}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{348,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,132}}</string>
                <key>sourceSize</key>
                <string>{348,132}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,2},{360,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,128}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,136},{369,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,120}}</string>
                <key>sourceSize</key>
                <string>{369,120}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,513},{383,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,107}}</string>
                <key>sourceSize</key>
                <string>{383,107}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,546},{394,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{394,98}}</string>
                <key>sourceSize</key>
                <string>{396,98}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,102},{404,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,98}}</string>
                <key>sourceSize</key>
                <string>{404,98}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1947},{410,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,98}}</string>
                <key>sourceSize</key>
                <string>{410,98}</string>
            </dict>
            <key>bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,945}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,945}}</string>
                <key>sourceSize</key>
                <string>{900,945}</string>
            </dict>
            <key>bk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{855,822}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{855,822}}</string>
                <key>sourceSize</key>
                <string>{855,822}</string>
            </dict>
            <key>btn_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,424},{396,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,120}}</string>
                <key>sourceSize</key>
                <string>{396,120}</string>
            </dict>
            <key>btn_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,513},{396,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,120}}</string>
                <key>sourceSize</key>
                <string>{396,120}</string>
            </dict>
            <key>btn_qr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,544},{296,151}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,151}}</string>
                <key>sourceSize</key>
                <string>{296,153}</string>
            </dict>
            <key>btn_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,302},{396,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,120}}</string>
                <key>sourceSize</key>
                <string>{396,120}</string>
            </dict>
            <key>ice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1777},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>ice_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1806},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>money_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{234,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,189}}</string>
                <key>sourceSize</key>
                <string>{234,189}</string>
            </dict>
            <key>money_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1806},{227,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,222}}</string>
                <key>sourceSize</key>
                <string>{227,222}</string>
            </dict>
            <key>money_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1806},{275,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,224}}</string>
                <key>sourceSize</key>
                <string>{275,224}</string>
            </dict>
            <key>skin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,513},{122,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,127}}</string>
                <key>sourceSize</key>
                <string>{122,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f35785f09ad305afc4b4db1b9956f097$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
