<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{425,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,425},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{849,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,849},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1273,1273},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>indexAnimation2.png</string>
            <key>size</key>
            <string>{1696,1696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60efb172948421e27e6bfabe3104fcd0:e9d8816d014eaa6af42a104d8875cb46:dea108a86e49b269d9d8262891c26507$</string>
            <key>textureFileName</key>
            <string>indexAnimation2.png</string>
        </dict>
    </dict>
</plist>
