<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cheek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{917,968}</string>
                <key>spriteSourceSize</key>
                <string>{917,968}</string>
                <key>textureRect</key>
                <string>{{920,1},{917,968}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_cheek1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{917,1235}</string>
                <key>spriteSourceSize</key>
                <string>{917,1235}</string>
                <key>textureRect</key>
                <string>{{1,1},{917,1235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheek2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,240}</string>
                <key>spriteSourceSize</key>
                <string>{780,240}</string>
                <key>textureRect</key>
                <string>{{1,1238},{780,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,81}</string>
                <key>spriteSourceSize</key>
                <string>{276,81}</string>
                <key>textureRect</key>
                <string>{{1796,920},{276,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exhaust.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,433}</string>
                <key>spriteSourceSize</key>
                <string>{386,433}</string>
                <key>textureRect</key>
                <string>{{1361,920},{386,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{1796,1287},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,129}</string>
                <key>spriteSourceSize</key>
                <string>{357,129}</string>
                <key>textureRect</key>
                <string>{{1361,1308},{357,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>repeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,129}</string>
                <key>spriteSourceSize</key>
                <string>{357,129}</string>
                <key>textureRect</key>
                <string>{{920,920},{357,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,129}</string>
                <key>spriteSourceSize</key>
                <string>{357,129}</string>
                <key>textureRect</key>
                <string>{{920,1051},{357,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{1720,1333},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,92}</string>
                <key>spriteSourceSize</key>
                <string>{87,92}</string>
                <key>textureRect</key>
                <string>{{1796,1198},{87,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_limit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,200}</string>
                <key>spriteSourceSize</key>
                <string>{576,200}</string>
                <key>textureRect</key>
                <string>{{783,1238},{576,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>limitMode.png</string>
            <key>size</key>
            <string>{1889,1479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b68fbbb7051640620b509214462e98a2:cf867c3d46b3ae8d3012c1536d1744dc:3b27094f24f70f8cb317454670947239$</string>
            <key>textureFileName</key>
            <string>limitMode.png</string>
        </dict>
    </dict>
</plist>
