<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_banner1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{1047,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_banner10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{1050,1},{1047,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_banner11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{1,330},{1047,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_banner2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{330,330},{1047,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_banner3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{659,330},{1047,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_banner4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{988,1050},{1047,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_banner5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{1379,1},{1047,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_banner6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{1708,1},{1047,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_banner7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{1,1379},{1047,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_banner8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1047,327}</string>
                <key>spriteSourceSize</key>
                <string>{1047,327}</string>
                <key>textureRect</key>
                <string>{{1,1708},{1047,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{1050,1520},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_medal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,232}</string>
                <key>spriteSourceSize</key>
                <string>{141,234}</string>
                <key>textureRect</key>
                <string>{{1050,1379},{139,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_medal2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,232}</string>
                <key>spriteSourceSize</key>
                <string>{141,234}</string>
                <key>textureRect</key>
                <string>{{1284,1379},{139,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,140}</string>
                <key>spriteSourceSize</key>
                <string>{135,140}</string>
                <key>textureRect</key>
                <string>{{1518,1379},{135,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank1.png</string>
            <key>size</key>
            <string>{2036,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:554194a2fbff4775ff0be18374148c13:9994d256fc51bcb43af4c7154fd15ef4:fb0fbc3ee2dedc4077ef966a48409bec$</string>
            <key>textureFileName</key>
            <string>rank1.png</string>
        </dict>
    </dict>
</plist>
