<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{906,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{906,588}}</string>
                <key>sourceSize</key>
                <string>{906,588}</string>
            </dict>
            <key>game_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,592},{222,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,120}}</string>
                <key>sourceSize</key>
                <string>{222,120}</string>
            </dict>
            <key>game_resetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{240,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>game_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{222,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,120}}</string>
                <key>sourceSize</key>
                <string>{222,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resetRank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d4602ca7dc834e97b2fd701690e889$</string>
            <key>textureFileName</key>
            <string>resetRank.png</string>
        </dict>
    </dict>
</plist>
