<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_skin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{128,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,133}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>game_wate.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>skin1_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{1065,1523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1065,1523}}</string>
                <key>sourceSize</key>
                <string>{1065,1523}</string>
            </dict>
            <key>skin1_base_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{165,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,99}}</string>
                <key>sourceSize</key>
                <string>{165,99}</string>
            </dict>
            <key>skin1_btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,2},{339,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,123}}</string>
                <key>sourceSize</key>
                <string>{339,123}</string>
            </dict>
            <key>skin1_btn_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{360,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,123}}</string>
                <key>sourceSize</key>
                <string>{360,123}</string>
            </dict>
            <key>skin1_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,121},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>skin1_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>skin1_tube.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,68}}</string>
                <key>sourceSize</key>
                <string>{28,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a84d491f8ec40b446114672e110a280$</string>
            <key>textureFileName</key>
            <string>skin1.png</string>
        </dict>
    </dict>
</plist>
