<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_wate.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1814},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>skin3_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1500},{312,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,131}}</string>
                <key>sourceSize</key>
                <string>{312,131}</string>
            </dict>
            <key>skin3_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1065,1496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1065,1496}}</string>
                <key>sourceSize</key>
                <string>{1065,1496}</string>
            </dict>
            <key>skin3_base1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{165,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
            <key>skin3_base_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{165,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
            <key>skin3_btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1500},{312,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,131}}</string>
                <key>sourceSize</key>
                <string>{312,131}</string>
            </dict>
            <key>skin3_btn_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{362,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,131}}</string>
                <key>sourceSize</key>
                <string>{362,131}</string>
            </dict>
            <key>skin3_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1864},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>skin3_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1768},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1634},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1500},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1902},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1768},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1634},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1500},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1634},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1500},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1844},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>skin3_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{362,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,131}}</string>
                <key>sourceSize</key>
                <string>{362,131}</string>
            </dict>
            <key>skin3_tube.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1814},{28,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,68}}</string>
                <key>sourceSize</key>
                <string>{28,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec964d4b53fa2aab6f989344297c61a5$</string>
            <key>textureFileName</key>
            <string>skin3.png</string>
        </dict>
    </dict>
</plist>
