<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_wate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,48}</string>
                <key>textureRect</key>
                <string>{{135,1639},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,1370}</string>
                <key>spriteSourceSize</key>
                <string>{1065,1370}</string>
                <key>textureRect</key>
                <string>{{1,1},{1065,1370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,92}</string>
                <key>spriteSourceSize</key>
                <string>{159,92}</string>
                <key>textureRect</key>
                <string>{{269,1537},{159,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_btn_again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,132}</string>
                <key>spriteSourceSize</key>
                <string>{264,132}</string>
                <key>textureRect</key>
                <string>{{135,1373},{264,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin0_btn_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,132}</string>
                <key>spriteSourceSize</key>
                <string>{315,132}</string>
                <key>textureRect</key>
                <string>{{1,1373},{315,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin0_gz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{269,1373},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{430,1537},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{433,1373},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{555,1498},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{558,1373},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{680,1498},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{683,1373},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{805,1498},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{808,1373},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{933,1373},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{930,1498},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin0_tube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,102}</string>
                <key>spriteSourceSize</key>
                <string>{42,102}</string>
                <key>textureRect</key>
                <string>{{203,1639},{42,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin0.png</string>
            <key>size</key>
            <string>{1067,1689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a697be39370cb0f2c2daf97697f2762f:20b43886f3a7271a383d3b0a265b276e:ee11cedd97b5bf92829c764daf1dc80f$</string>
            <key>textureFileName</key>
            <string>skin0.png</string>
        </dict>
    </dict>
</plist>
