<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_wate.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1714},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>skin2_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1458},{327,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,159}}</string>
                <key>sourceSize</key>
                <string>{327,159}</string>
            </dict>
            <key>skin2_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1065,1454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1065,1454}}</string>
                <key>sourceSize</key>
                <string>{1065,1454}</string>
            </dict>
            <key>skin2_base_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{165,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,108}}</string>
                <key>sourceSize</key>
                <string>{165,108}</string>
            </dict>
            <key>skin2_btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1458},{327,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,159}}</string>
                <key>sourceSize</key>
                <string>{327,159}</string>
            </dict>
            <key>skin2_btn_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{375,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,159}}</string>
                <key>sourceSize</key>
                <string>{375,159}</string>
            </dict>
            <key>skin2_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1835},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>skin2_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1842},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1714},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1586},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1458},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1842},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1714},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1586},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1458},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1915},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1787},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>skin2_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{375,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,159}}</string>
                <key>sourceSize</key>
                <string>{375,159}</string>
            </dict>
            <key>skin2_tube.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{28,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,68}}</string>
                <key>sourceSize</key>
                <string>{28,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85753a2e0761585aeebc3e023b96f000$</string>
            <key>textureFileName</key>
            <string>skin2.png</string>
        </dict>
    </dict>
</plist>
