<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_affiem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,126}</string>
                <key>spriteSourceSize</key>
                <string>{345,126}</string>
                <key>textureRect</key>
                <string>{{1373,1},{345,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,133}</string>
                <key>textureRect</key>
                <string>{{1525,421},{128,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,1370}</string>
                <key>spriteSourceSize</key>
                <string>{1065,1370}</string>
                <key>textureRect</key>
                <string>{{1,1},{1065,1370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_bk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{930,1319}</string>
                <key>spriteSourceSize</key>
                <string>{930,1319}</string>
                <key>textureRect</key>
                <string>{{1,1068},{930,1319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_bk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,75}</string>
                <key>spriteSourceSize</key>
                <string>{258,75}</string>
                <key>textureRect</key>
                <string>{{1532,1910},{258,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_bk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,458}</string>
                <key>spriteSourceSize</key>
                <string>{584,458}</string>
                <key>textureRect</key>
                <string>{{1322,1068},{584,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_btn_defiant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,122}</string>
                <key>spriteSourceSize</key>
                <string>{347,122}</string>
                <key>textureRect</key>
                <string>{{1322,1654},{347,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_btn_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,133}</string>
                <key>textureRect</key>
                <string>{{1660,486},{128,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_btn_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,150}</string>
                <key>spriteSourceSize</key>
                <string>{780,150}</string>
                <key>textureRect</key>
                <string>{{1373,257},{780,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_btn_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,120}</string>
                <key>spriteSourceSize</key>
                <string>{347,120}</string>
                <key>textureRect</key>
                <string>{{1446,1654},{347,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btn_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,84}</string>
                <key>spriteSourceSize</key>
                <string>{233,84}</string>
                <key>textureRect</key>
                <string>{{1446,1776},{233,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_btn_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,132}</string>
                <key>spriteSourceSize</key>
                <string>{315,132}</string>
                <key>textureRect</key>
                <string>{{1525,551},{315,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,126}</string>
                <key>spriteSourceSize</key>
                <string>{345,126}</string>
                <key>textureRect</key>
                <string>{{1373,129},{345,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btn_share1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,132}</string>
                <key>spriteSourceSize</key>
                <string>{315,132}</string>
                <key>textureRect</key>
                <string>{{1659,616},{315,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,141}</string>
                <key>spriteSourceSize</key>
                <string>{108,141}</string>
                <key>textureRect</key>
                <string>{{1689,257},{108,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_fillet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,102}</string>
                <key>spriteSourceSize</key>
                <string>{42,102}</string>
                <key>textureRect</key>
                <string>{{1720,51},{42,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_gz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1525,257},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{1689,400},{84,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_resetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,132}</string>
                <key>spriteSourceSize</key>
                <string>{264,132}</string>
                <key>textureRect</key>
                <string>{{1532,1776},{264,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{1525,868},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_wate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,48}</string>
                <key>textureRect</key>
                <string>{{1720,1},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game1.png</string>
            <key>size</key>
            <string>{1798,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac99e09b76f8851e877a1f24e1529048:78f4942bc536887bc478ec37913df691:8a4e504745f02d5ff3c9c12f7f870519$</string>
            <key>textureFileName</key>
            <string>game1.png</string>
        </dict>
    </dict>
</plist>
