<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index_begin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,200}</string>
                <key>spriteSourceSize</key>
                <string>{576,200}</string>
                <key>textureRect</key>
                <string>{{1,1430},{576,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>index_close .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,191}</string>
                <key>spriteSourceSize</key>
                <string>{185,191}</string>
                <key>textureRect</key>
                <string>{{1,1812},{185,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>index_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,191}</string>
                <key>spriteSourceSize</key>
                <string>{185,191}</string>
                <key>textureRect</key>
                <string>{{194,1795},{185,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>index_phb .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,191}</string>
                <key>spriteSourceSize</key>
                <string>{185,191}</string>
                <key>textureRect</key>
                <string>{{381,1795},{185,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>index_play .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,191}</string>
                <key>spriteSourceSize</key>
                <string>{185,191}</string>
                <key>textureRect</key>
                <string>{{574,1812},{185,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>index_qd .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,191}</string>
                <key>spriteSourceSize</key>
                <string>{185,191}</string>
                <key>textureRect</key>
                <string>{{767,1812},{185,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>index_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{843,207}</string>
                <key>spriteSourceSize</key>
                <string>{843,207}</string>
                <key>textureRect</key>
                <string>{{1,1221},{843,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>index_yy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{855,1214},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>registe_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,132}</string>
                <key>spriteSourceSize</key>
                <string>{369,132}</string>
                <key>textureRect</key>
                <string>{{855,843},{369,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{852,1218}</string>
                <key>spriteSourceSize</key>
                <string>{852,1218}</string>
                <key>textureRect</key>
                <string>{{1,1},{852,1218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,146}</string>
                <key>spriteSourceSize</key>
                <string>{419,146}</string>
                <key>textureRect</key>
                <string>{{855,1},{419,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,146}</string>
                <key>spriteSourceSize</key>
                <string>{419,146}</string>
                <key>textureRect</key>
                <string>{{855,422},{419,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,206}</string>
                <key>spriteSourceSize</key>
                <string>{161,206}</string>
                <key>textureRect</key>
                <string>{{1,1632},{161,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register_draw2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,189}</string>
                <key>spriteSourceSize</key>
                <string>{411,189}</string>
                <key>textureRect</key>
                <string>{{579,1430},{411,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register_money_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,189}</string>
                <key>spriteSourceSize</key>
                <string>{411,189}</string>
                <key>textureRect</key>
                <string>{{579,1621},{411,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register_money_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,206}</string>
                <key>spriteSourceSize</key>
                <string>{161,206}</string>
                <key>textureRect</key>
                <string>{{209,1632},{161,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1002,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e1accc368c5a6c25273728628d67a4e:732577abfc65b422eec59e1d81015006:5aec2f82430a9c16d2c03f4ae551aae0$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
