<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{102,105}</string>
                <key>textureRect</key>
                <string>{{1162,1051},{102,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>index_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1289,1143},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invie_ex_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{1624,849},{81,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>invite__money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{1347,1143},{51,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>invite_award.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,99}</string>
                <key>spriteSourceSize</key>
                <string>{689,99}</string>
                <key>textureRect</key>
                <string>{{933,849},{689,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,120}</string>
                <key>spriteSourceSize</key>
                <string>{420,120}</string>
                <key>textureRect</key>
                <string>{{933,1051},{420,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>invite_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1055,1051},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{930,1494}</string>
                <key>spriteSourceSize</key>
                <string>{930,1494}</string>
                <key>textureRect</key>
                <string>{{1,1},{930,1494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_dk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,300}</string>
                <key>spriteSourceSize</key>
                <string>{180,300}</string>
                <key>textureRect</key>
                <string>{{1055,1167},{180,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_dk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,846}</string>
                <key>spriteSourceSize</key>
                <string>{780,846}</string>
                <key>textureRect</key>
                <string>{{933,1},{780,846}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_ex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{1624,932},{81,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>invite_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1421,1051},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1289,1203},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_jbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,72}</string>
                <key>spriteSourceSize</key>
                <string>{150,72}</string>
                <key>textureRect</key>
                <string>{{1624,1015},{150,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>invite_lqjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,99}</string>
                <key>spriteSourceSize</key>
                <string>{689,99}</string>
                <key>textureRect</key>
                <string>{{933,950},{689,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,50}</string>
                <key>spriteSourceSize</key>
                <string>{158,50}</string>
                <key>textureRect</key>
                <string>{{1237,1167},{158,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>invite_np.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,90}</string>
                <key>spriteSourceSize</key>
                <string>{153,90}</string>
                <key>textureRect</key>
                <string>{{1266,1051},{153,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,50}</string>
                <key>spriteSourceSize</key>
                <string>{158,50}</string>
                <key>textureRect</key>
                <string>{{1237,1327},{158,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{1714,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6902d05f46fce10c30170978d8d1cc86:9b464bd150b3dc4a883448843545898a:953d3665f264cda36fcc0ed6233f063a$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
